  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&family=Roboto:wght@100;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1 {
  margin-bottom: 12px;
}

.card {
  width: 450px;
  margin: 40px;
  border: 4px solid #222;
}

.card::after {
  content: "";
  display: block;
}

.avatar{
  width: 100%;
  height: 50%;
  display: block;
}

.data {
  padding: 32px;
  padding-top: 24px;
}

.skill-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  margin: 4px;
  flex-wrap: wrap;
  align-items: center;
}